html {
    background-color: #121212;
}

.secret {
    text-decoration: none;
    color: black;
}

.secrettext {
    color: #121212; 
}

.whitetext {
    color: white;
}

.right {
    text-align: right;
}

.errorbackground {
    background-color: white;
}