body {
    background-color: #121212;  
}

p {
    color: black;
}

H1 {
    color: black;
}

.logo {
    width: 5%;
    height: 5%;
    background-color: #424242;
    margin: 20px;
    float: left;
}

.Scottje {
    width: 20%;
    height: 20%;
}

.pictures {
    width: 720px;
    height: 560px;
}

.video {
    width: 720px;
    height: 560px;
}

nav {
    margin: 0px;
    background-color: gray;
    padding: 15px;
    font-size: 200%;
    color: white;
}

.drekerboystudio {
    color: white;
    padding-top: 40px;
    font-size: 500%;
}

.mid {
    background-color: darkgray;
    text-align: center;
}

.back {
    float: right;
}

.gallery {
    margin: 10px 50px;
}

.gallery img {
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.aboutme {
    background-color: darkgray;
    padding-left: 20px;
}

.mid2 {
    background-color: darkgray;
}

.secret {
    text-decoration: none;
    color: black;
}

.secrettext {
    color: #121212; 
}

.whitetext {
    color: white;
}