body {
    background-color: #B2EF9B;  
}

p {
    color: black;
}

H1 {
    color: black;
}

.logo {
    width: 10%;
    height: 10%;
}

.Scottje {
    width: 20%;
    height: 20%;
}

.pictures {
    width: 720px;
    height: 560px;
}

.video {
    width: 720px;
    height: 560px;
}